/* implement your own style here */
body {
	display: flex;
	background-color: skyblue;
	justify-content: center;
}
#todo-list {
	display: flex;
	flex-wrap: wrap;
	width: 240px;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
}

p {
	font-size: 12px;
	margin: 0px 20px;
}
#list-elem{
	padding: 0;
	list-style-type: none;
}
#todo-item {
	display: block;
	font-size: 12px;
	background-color: white;
	padding: 5px;
	margin: 5px 7px;
	width: 220px;
	word-wrap: break-word;
	box-shadow: 0 1px 2px 0;
}
button {
	width: 245px;
}